*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transition: 0.5s;
}
#First{
    background-color: crimson;
    text-align: center;
    color: white;
    font-size: 25px;
    button{
        padding: 15px 40px;
        border-radius: 20px;
        border: 1px solid crimson;
        cursor: pointer;
    }
}
